.nasa-textarea-auto {
  .ant-select {
    .ant-select-selection {
      min-height: 80px;
    }
  }
  &.small {
    .ant-select {
      .ant-select-selection {
        min-height: 32px;
      }
    }
  }
  &.large {
    .ant-select {
      .ant-select-selection {
        min-height: 100px;
      }
    }
  }
}
