$right-width: 160px;

.nasa-multi-line2 {
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #eee;
  .multi-line-edit {
    width: 100%;
    min-height: 300px;
    padding: 20px $right-width 20px 20px;
    font-size: 12px;
    word-wrap: break-word;
    overflow-x: hidden;
    line-height: 32px;
  }
  .multi-line-result {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    word-wrap: break-word;
    pointer-events: none;
    .multi-line-result-row {
      position: relative;
      padding-right: $right-width - 20;
      width: 100%;
      min-height: 32px;
      line-height: 32px;
      &:after {
        display: block;
        width: 100%;
        height: 1px;
        background: #eee;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        transition: .1s;
      }
      &.red {
        &:after {
          background: #f04134;
        }
      }
      span.text {
        visibility: hidden;
      }
      .multi-line-tooltip {
        position: absolute;
        right: 0;
        top: 0px;
        height: 32px;
        text-align: right;
        line-height: 32px;
        pointer-events: auto;
      }
    }
  }
  .multi-line-placeholder-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: none;
    padding: 20px;
    .multi-line-placeholder {
      width: 100%;
      height: 32px;
      line-height: 32px;
      color: #aaa;
      border-bottom: 1px solid #eee;
    }
  }
  .multi-line-stats {}
}

.nasa-multi-line-textarea {
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #eee;
  .multi-line-edit {
    width: 100%;
    height: 300px;
    padding: 20px $right-width 20px 20px;
    font-size: 12px;
    word-wrap: break-word;
    overflow-x: hidden;
    line-height: 32px;
    border: none;
    resize: none;
    overflow: hidden;
  }
  .multi-line-result {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    word-wrap: break-word;
    pointer-events: none;
    z-index: 10;
    .multi-line-result-row {
      position: relative;
      padding-right: $right-width - 20;
      width: 100%;
      min-height: 32px;
      line-height: 32px;
      &:after {
        display: block;
        width: 100%;
        height: 1px;
        background: #eee;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        transition: .1s;
      }
      &.red {
        &:after {
          background: #f04134;
        }
      }
      span.text {
        visibility: hidden;
      }
      .multi-line-tooltip {
        position: absolute;
        right: 0;
        top: 0px;
        height: 32px;
        text-align: right;
        line-height: 32px;
        pointer-events: auto;
      }
    }
  }
  .multi-line-placeholder-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: none;
    padding: 20px;
    .multi-line-placeholder {
      width: 100%;
      height: 32px;
      line-height: 32px;
      color: #aaa;
      border-bottom: 1px solid #eee;
    }
  }
  .multi-line-stats {}
}