// 右移进入
.nasa-fade-in {
  animation: fadeIn .6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// classnames
// CSS Modules